<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <style>
        .card-header h4{
            text-align: center;
            padding: 10px;
            background-color: #3c3cc6;
            color: #f8f9fa;
        }
        .container{
            border-radius: 5px;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="card-header container mt-4 ">
    <div class=" row justify-content-center">
        <div  class="col-md-6 ">
            <div  class="card">
                <div class="card-header">
                    <h4>Registration Form</h4>
                </div>
                <div class="card-body">
                    <form id="registration-form" th:action="@{/register}" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a href="/login" class="btn btn-secondary">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#registration-form').submit(function (event) {
            event.preventDefault();
            let form = $(this);
            let formData = form.serialize();
            let phoneRegex = /^\d{10}$/
            let phoneNumber = $('#phone').val();
            if (phoneRegex.test(phoneNumber)) {
                alert("Please enter a valid 10-digit phone number.");
                return;
            }
            // Validate username field
            let usernameRegex = /^[a-zA-Z][a-zA-Z0-9]*$/;
            let username = $('#username').val().trim();
            if (!usernameRegex.test(username)) {
                console.log(username)
                alert("Username can only contain letters and numbers, and must start with a letter.");
                return;
            }
            if (!usernameRegex.test(username)) {
                alert("Please enter a valid username starting with a letter and containing only letters and numbers.");
                return;
            }
            let passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

            let password = $('#password').val();
            if (!validatePassword(password)) {
                alert("Password must be at least 8 characters and include at least one uppercase letter, one lowercase letter, and one number.");
                return;
            }
            // Send the form data to the server
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: formData,
                success: function (data) {
                    // Redirect
                    window.location.href = "/login";
                },
                error: function (error) {
                    alert("Error occurred while registering. Please try again later.");
                }
            });
        });
    });
    function validatePassword(password) {
        // Check if the password is at least 8 characters long
        if (password.length < 8) {
            return false;
        }

        // Check if the password contains at least one uppercase letter, one lowercase letter, and one number
        let hasUppercase = /[A-Z]/.test(password);
        let hasLowercase = /[a-z]/.test(password);
        let hasNumber = /\d/.test(password);

        return hasUppercase && hasLowercase && hasNumber;
    }

</script>

</body>
</html>