<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Task Details</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Task ID</th>
            <th>Task Title</th>
            <th>Task Description</th>
            <th>Complete</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" task :${tasks}">
            <td th:text="${task.taskId}"></td>
            <td th:text="${task.tasktitle}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td><a th:href="@{/tasks/Completed(userId=${task.getTaskId()})}" methods="get" class="btn btn-large btn-success">Completed</a></td>
            <td>
                <span th:if="${task.status}" class="badge badge-success">Completed</span>
                <span th:if="${not task.status}" class="badge badge-warning">Pending</span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi94j6W"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
